<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.AreaDao">
    <select id="getAllArea" resultType="com.jiubo.buildstore.bean.AreaBean">
        select * from AREA
    </select>

    <select id="getAreaByIdList" resultType="com.jiubo.buildstore.bean.AreaBean">
        select * from AREA
        <where>
            <if test="areaBean.idList != null and areaBean.idList.size >0">
                AR_ID in
                <foreach collection="areaBean.idList" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
