<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.BhtRefDao">
    <insert id="insertBhtRefBatch" parameterType="java.util.List">
        insert into bht_ref (BHT_ID,BUILD_ID,BHT_NAME) values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.bhtId},#{item.buildId},#{item.bhtName})
        </foreach>
    </insert>

    <select id="getAllBhtRefByBIds" resultType="com.jiubo.buildstore.bean.BhtRefBean">
        select * from bht_ref
        <where>
            <if test="bhtRefBean.buildIdList != null and bhtRefBean.buildIdList.size >0">
                BUILD_ID in
                <foreach collection="bhtRefBean.buildIdList" open="(" close=")" separator="," item="buildId">
                    #{buildId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getAllBhtRefByBhtIds" resultType="com.jiubo.buildstore.bean.BhtRefBean">
        select * from bht_ref
        <where>
            <if test="bhtRefBean.bhtIdList != null and bhtRefBean.bhtIdList.size >0">
                BHT_ID in
                <foreach collection="bhtRefBean.bhtIdList" open="(" close=")" separator="," item="bhtId">
                    #{bhtId}
                </foreach>
            </if>
        </where>
    </select>

    <delete id="deleteBhtRefByBid">
        delete from bht_ref where BUILD_ID = #{buildId}
    </delete>
</mapper>
