<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.BuildingAnalysisDao">
    <select id="getBidByBhtIdList" resultType="com.jiubo.buildstore.bean.BuildingAnalysisBean">
        select BUILD_ID from building_analysis where
        BHT_ID in
        <foreach collection="buildingAnalysisBean.bhtIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>


    <select id="getBidByBIdList" resultType="com.jiubo.buildstore.bean.BuildingAnalysisBean">
        select BUILD_ID,BHT_ID from building_analysis where
		BUILD_ID in
        <foreach collection="buildingAnalysisBean.bIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="getAllAnalysisByBid" resultType="com.jiubo.buildstore.bean.BuildingAnalysisBean">
        SELECT
	*
FROM
	building_analysis
	<where>
		1=1
		<if test="null != buildingAnalysisBean.buildId and buildingAnalysisBean.buildId != 0">
			and BUILD_ID = #{buildingAnalysisBean.buildId}
		</if>
		<if test="null != buildingAnalysisBean.isSale and buildingAnalysisBean.isSale != 0">
			and IS_SALE = #{buildingAnalysisBean.isSale}
		</if>
		<if test="null != buildingAnalysisBean.bhtId and buildingAnalysisBean.bhtId != 8">
			and BHT_ID = #{buildingAnalysisBean.bhtId}
		</if>
	</where>
    </select>

	<delete id="deleteByBid">
		delete from building_analysis where BUILD_ID = #{buildingAnalysisBean.buildId}
	</delete>

	<insert id="insertByBid" useGeneratedKeys="true" keyProperty="baId">
		insert into building_analysis
		(BHT_ID,IMG_NAME,CREATE_DATE,IS_SALE,TOTLE_PRICE,CONTENT,DRECTION,CA_NAME,DOWN_PAYMENT,BUILD_ID,BUILD_AREA,HOUSE,FLOOR)
		VALUES
		(#{buildingAnalysisBean.bhtId},#{buildingAnalysisBean.imgName},#{buildingAnalysisBean.createDate},#{buildingAnalysisBean.isSale},
		#{buildingAnalysisBean.totlePrice},#{buildingAnalysisBean.content},
		#{buildingAnalysisBean.drection},#{buildingAnalysisBean.caName},#{buildingAnalysisBean.downPayment},
		#{buildingAnalysisBean.buildId},#{buildingAnalysisBean.buildArea},#{buildingAnalysisBean.house},#{buildingAnalysisBean.floor})
	</insert>

	<update id="patchBuildAnalysisById">
		update building_analysis
		<trim prefix="set" suffixOverrides=",">
			<if test="buildingAnalysisBean.bhtId != null">
				BHT_ID = #{buildingAnalysisBean.bhtId},
			</if>
			<if test="buildingAnalysisBean.imgName != null and buildingAnalysisBean.imgName != ''">
				IMG_NAME = #{buildingAnalysisBean.imgName},
			</if>
			<if test="buildingAnalysisBean.createDate != null">
				CREATE_DATE = #{buildingAnalysisBean.createDate},
			</if>
			<if test="buildingAnalysisBean.isSale != null">
				IS_SALE = #{buildingAnalysisBean.isSale},
			</if>
			<if test="buildingAnalysisBean.totlePrice != null">
				TOTLE_PRICE = #{buildingAnalysisBean.totlePrice},
			</if>
			<if test="buildingAnalysisBean.content != null and buildingAnalysisBean.content != ''">
				CONTENT = #{buildingAnalysisBean.content},
			</if>
			<if test="buildingAnalysisBean.drection != null">
				DRECTION = #{buildingAnalysisBean.drection},
			</if>
			<if test="buildingAnalysisBean.caName != null and buildingAnalysisBean.caName != ''">
				CA_NAME = #{buildingAnalysisBean.caName},
			</if>

			<if test="buildingAnalysisBean.downPayment != null">
				DOWN_PAYMENT = #{buildingAnalysisBean.downPayment},
			</if>
			<if test="buildingAnalysisBean.buildId != null">
				BUILD_ID = #{buildingAnalysisBean.buildId},
			</if>
			<if test="buildingAnalysisBean.buildArea != null">
				BUILD_AREA = #{buildingAnalysisBean.buildArea},
			</if>
			<if test="buildingAnalysisBean.house != null">
				HOUSE = #{buildingAnalysisBean.house}
			</if>
			<if test="buildingAnalysisBean.floor != null and buildingAnalysisBean.floor != ''">
				FLOOR = #{buildingAnalysisBean.floor}
			</if>
		</trim>
		where BA_ID = #{buildingAnalysisBean.baId}
	</update>
</mapper>
