<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.BuildingImgDao">

    <insert id="addImg">
        insert into building_img (IMG_NAME,CREATE_DATE,IT_ID,B_ID,IMG_PATH,BA_ID)
         values
         (#{buildingImgBean.imgName},#{buildingImgBean.createDate},#{buildingImgBean.itId},
         #{buildingImgBean.bId},#{buildingImgBean.imgPath},#{buildingImgBean.baId})
    </insert>

    <update id="patchImgById">
        update building_img set
        <if test="buildingImgBean.imgName != null and buildingImgBean.imgName != ''">
            IMG_NAME = #{buildingImgBean.imgName}
        </if>
        <if test="buildingImgBean.createDate != null and buildingImgBean.createDate != ''">
            CREATE_DATE = #{buildingImgBean.createDate}
        </if>
        <if test="buildingImgBean.itId != null and buildingImgBean.itId != ''">
            IT_ID = #{buildingImgBean.itId}
        </if>
        <if test="buildingImgBean.bId != null and buildingImgBean.bId != ''">
            B_ID = #{buildingImgBean.bId}
        </if>
        where IMG_ID = #{buildingImgBean.imgId}
    </update>

    <select id="getAllByBid" resultType="com.jiubo.buildstore.bean.BuildingImgBean">
        select * from building_img
        <where>
            <if test="buildingImgBean.itId != null">
                and IT_ID = #{buildingImgBean.itId}
            </if>
            <if test="buildingImgBean.bId != null">
                and B_ID = #{buildingImgBean.bId}
            </if>
        </where>
    </select>

    <delete id="deleteByImgName">
        delete from building_img
        <where>
            <if test="buildingImgBean.itId != null">
                and IT_ID = #{buildingImgBean.itId}
            </if>
            <if test="buildingImgBean.bId != null">
                and B_ID = #{buildingImgBean.bId}
            </if>
            <if test="buildingImgBean.coucId != null">
                and COUC_ID = #{buildingImgBean.coucId}
            </if>
        </where>
    </delete>

    <select id="getHeadImgByBuildId" resultType="com.jiubo.buildstore.bean.BuildingImgBean">
        select * from building_img
        <where>
        <if test="buildingImgBean.bIdList != null and buildingImgBean.bIdList.size() > 0">
            B_ID in
            <foreach collection="buildingImgBean.bIdList" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
        <if test="buildingImgBean.itId != null">
            and IT_ID = #{buildingImgBean.itId}
        </if>
        <if test="buildingImgBean.coucIdList != null and buildingImgBean.coucIdList.size() > 0">
            and COUC_ID in
            <foreach collection="buildingImgBean.coucIdList" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
        </where>
    </select>

    <select id="getAllImgByBuildId" resultType="com.jiubo.buildstore.bean.BuildingImgBean">
        select * from building_img
        <where>
            <if test="buildingImgBean.bId != null">
                B_ID = #{buildingImgBean.bId}
            </if>
        </where>
    </select>
</mapper>
