<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.BuildingDao">

    <!--条件查询-->
    <select id="getAllBulidBypage" resultType="com.jiubo.buildstore.bean.BuildReturn">
        SELECT distinct A.*
        from building A
        LEFT JOIN room_main B ON A.BUILD_ID = B.build_id
        LEFT JOIN office C ON B.id = C.room_id
        left join location_distinguish D on a.LD_ID = D.LD_ID
        left join business_district E ON a.BUSINESS_ID = E.id
        <where>
            1=1
            /*省id*/
            <if test="buildingBean.proIdList != null and buildingBean.proIdList.size() > 0">
                and A.PRO_ID in
                <foreach collection="buildingBean.proIdList" open="(" close=")" separator="," item="proId">
                    #{proId}
                </foreach>
            </if>

            /*区域*/
            <if test="buildingBean.ldIdList != null and buildingBean.ldIdList.size() > 0">
                and A.LD_ID in
                <foreach collection="buildingBean.ldIdList" open="(" close=")" separator="," item="ldId">
                    #{ldId}
                </foreach>
            </if>

            <if test="buildingBean.areaList != null and buildingBean.areaList.size() > 0">
                and
                <foreach collection="buildingBean.areaList" open="(" close=")" separator="or" item="item">
                    <if test="null != item and item.minArea != null and item.maxArea == null">
                        A.MAX_AREA > #{item.minArea}
                    </if>
                    <if test="null != item and item.maxArea != null and item.minArea == null">
                        #{item.maxArea} > A.MIN_AREA
                    </if>
                    <if test="null != item and item.maxArea != null and item.minArea != null">
                        A.MIN_AREA >= #{item.minArea} and #{item.maxArea} >= A.MIN_AREA
                        or A.MAX_AREA >= #{item.minArea} and #{item.maxArea}>=A.MAX_AREA
                        or #{item.minArea} >= A.MIN_AREA and A.MAX_AREA >=#{item.maxArea}
                    </if>
                </foreach>
            </if>
            <if test="buildingBean.totalPriceList != null and buildingBean.totalPriceList.size() > 0">
                and
                <foreach collection="buildingBean.totalPriceList" open="(" close=")" separator="or" item="item">
                    <if test="null != item and item.minTitlePrice != null and item.minTitlePrice != '' and item.minTitlePrice != 0 and (item.maxTitlePrice == null or item.maxTitlePrice == '' or item.maxTitlePrice == 0)">
                        A.MAX_TITLE_PRICE > #{item.minTitlePrice}
                    </if>
                    <if test="null != item and item.maxTitlePrice != null and item.maxTitlePrice != '' and item.maxTitlePrice != 0 and (item.minTitlePrice == null or item.minTitlePrice == '' or item.minTitlePrice == 0)">
                        #{item.maxTitlePrice} > A.MIN_TITLE_PRICE
                    </if>
                    <if test="null != item and item.maxTitlePrice != null and item.maxTitlePrice != '' and item.maxTitlePrice != 0 and item.minTitlePrice != null and item.minTitlePrice != '' and item.minTitlePrice != 0">
                        A.MIN_TITLE_PRICE >= #{item.minTitlePrice} and #{item.maxTitlePrice} >= A.MIN_TITLE_PRICE
                        or A.MAX_TITLE_PRICE >=#{item.minTitlePrice} and #{item.maxTitlePrice} >= A.MAX_TITLE_PRICE
                        or #{item.minTitlePrice} >= A.MIN_TITLE_PRICE and A.MAX_TITLE_PRICE >= #{item.maxTitlePrice}
                    </if>
                </foreach>
            </if>
            <if test="buildingBean.unitPriceList != null and buildingBean.unitPriceList.size() > 0">
                and
                <foreach collection="buildingBean.unitPriceList" open="(" close=")" separator="or" item="item">
                    <if test="null != item and item.minUnitPrice != null and item.minUnitPrice != '' and item.minUnitPrice != 0 and (item.maxUnitPrice == null or item.maxUnitPrice == '' or item.maxUnitPrice == 0)">
                        A.MAX_UNIT_PRICE > #{item.minUnitPrice}
                    </if>
                    <if test="null != item and item.maxUnitPrice != null and item.maxUnitPrice != '' and item.maxUnitPrice != 0 and (item.minUnitPrice == null or item.minUnitPrice == '' or item.minUnitPrice == 0)">
                        #{item.maxUnitPrice} > A.MIN_UNIT_PRICE
                    </if>
                    <if test="null != item and item.maxUnitPrice != null and item.maxUnitPrice != '' and item.maxUnitPrice != 0 and item.minUnitPrice != null and item.minUnitPrice != '' and item.minUnitPrice != 0">
                        A.MIN_UNIT_PRICE >= #{item.minUnitPrice} and #{item.maxUnitPrice} >= A.MIN_UNIT_PRICE
                        or A.MAX_UNIT_PRICE >=#{item.minUnitPrice} and #{item.maxUnitPrice} >= A.MAX_UNIT_PRICE
                        or #{item.minUnitPrice} >= A.MIN_UNIT_PRICE and A.MAX_UNIT_PRICE >= #{item.maxUnitPrice}
                    </if>
                </foreach>
            </if>
            <if test="null != buildingBean.special and buildingBean.special != ''">
                and (D.LD_NAME like CONCAT('%',#{buildingBean.special},'%')
                or A.HT_NAME like CONCAT('%',#{buildingBean.special},'%')
                or E.bu_name like CONCAT('%',#{buildingBean.special},'%')
                )
            </if>
            <if test="buildingBean.sellWell != null">
                and #{buildingBean.sellWell} = A.SELL_WELL
            </if>

            <if test="buildingBean.buildType != null">
                and #{buildingBean.buildType} = A.BUILD_TYPE
            </if>
            <if test="buildingBean.businessId != null">
                and #{buildingBean.businessId} = A.BUSINESS_ID
            </if>
            <if test="buildingBean.officeType != null">
                and #{buildingBean.officeType} = C.office_type
            </if>
        </where>
    </select>
    <select id="getAllByHtName" resultType="com.jiubo.buildstore.bean.BuildReturn">
        select * from building where  HT_NAME = #{buildingBean.htName}
    </select>

    <!-- <select id="getAllBuild" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select BUILD_ID,HT_NAME from building
         where 1=1
         <if test="null != buildType">
            and BUILD_TYPE = #{buildType}
         </if>
         order by CONVERT(TRIM(HT_NAME) USING GBK) asc
    </select> -->

    <!--首页推荐楼盘||优质楼盘-->
    <select id="getRecommend" resultType="com.jiubo.buildstore.bean.BuildReturn">
        select * from building where RECOMMEND = 2 order by POPULARITY desc limit 4
    </select>

    <!--首页优选-->
    <select id="getOptimization" resultType="com.jiubo.buildstore.bean.BuildReturn">
        select * from building where OPTIMIZATION = 2
    </select>

    <!--首页品质楼盘-->
    <select id="getQuality" resultType="com.jiubo.buildstore.bean.BuildReturn">
        select * from building where QUALITY = 2 order by SELL_WELL desc limit 3
    </select>

    <select id="getSellWell" resultType="com.jiubo.buildstore.bean.BuildReturn">
        select * from building order by SELL_WELL desc limit 3
    </select>

    <select id="getBuildById" resultType="com.jiubo.buildstore.bean.BuildReturn">
        select * from building where BUILD_ID = #{buildingBean.buildId}
    </select>

    <select id="getPHotBuild" resultType="com.jiubo.buildstore.bean.BuildReturn">
        select * from building order by POPULARITY limit 3
    </select>
    <select id="getSWBuild" resultType="com.jiubo.buildstore.bean.BuildReturn">
        select * from building order by SELL_WELL limit 3
    </select>
    <select id="getHotSBuild" resultType="com.jiubo.buildstore.bean.BuildReturn">
        select * from building order by HOT_SEARCH limit 3
    </select>

    <select id="getBuildLikePage" resultType="com.jiubo.buildstore.bean.BuildReturn">
        SELECT DISTINCT
        a.*
        FROM
        building a
        left join location_distinguish b on a.LD_ID = b.LD_ID
        left join business_district c ON a.BUSINESS_ID = c.id
        <where>
            1=1
            <if test="null != buildingBean.special">
                and (b.LD_NAME like CONCAT('%',#{buildingBean.special},'%')
                or a.HT_NAME like CONCAT('%',#{buildingBean.special},'%')
                or c.bu_name like CONCAT('%',#{buildingBean.special},'%')
                )
            </if>
        </where>
    </select>

    <select id="getMobileList" resultType="com.jiubo.buildstore.bean.BuildReturn">
        select * from building
        <where>
            IS_MOBILE = 1
            <if test="buildingBean.mobileHead != null">
                and MOBILE_HEAD = #{buildingBean.mobileHead}
            </if>
            <if test="buildingBean.buildId != null">
                and BUILD_ID = #{buildingBean.buildId}
            </if>
        </where>
        order by SORT
    </select>
</mapper>
