<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.BuildingAnalysisDao">
    <select id="getBidByBhtIdList" resultType="com.jiubo.buildstore.bean.BuildingAnalysisBean">
        select B_ID from building_analysis where
        BHT_ID in
        <foreach collection="buildingAnalysisBean.bhtIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>


    <select id="getBidByBIdList" resultType="com.jiubo.buildstore.bean.BuildingAnalysisBean">
        select B_ID,BHT_ID from building_analysis where
        B_ID in
        <foreach collection="buildingAnalysisBean.bIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="getAllAnalysisByBid" resultType="com.jiubo.buildstore.bean.BuildingAnalysisBean">
        SELECT
	a.BA_ID,
	a.B_ID,
	a.BHT_ID,
	a.BAL_ID,
	a.IMG_NAME,
	a.CREATE_DATE,
	a.IS_SALE,
	a.TOTLE_PRICE,
	a.CONTENT,
	a.DRECTION,
	a.DOWN_PAYMENT,
	a.HT_ID,
	a.BUILD_AREA,
	b.BAL_CONTENT,
	c.CA_NAME
FROM
	building_analysis a,
	BUILDING_ANALYSIS_LABEL b,
	HORSE_TYPE c
WHERE
	a.HT_ID = c.HT_ID
	AND a.BAL_ID = b.BAL_ID

	and a.B_ID = #{buildingAnalysisBean.bId}
    </select>
</mapper>
