<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.BuildingDao">

    <!--条件查询-->
    <select id="getAllBulidBypage" resultType="com.jiubo.buildstore.bean.BuildingBean">
        SELECT *
        from building

        <where>
            1=1
            /*省id*/
            <if test="buildingBean.proIdList != null and buildingBean.proIdList.size() > 0">
                and PRO_ID in
                <foreach collection="buildingBean.proIdList" open="(" close=")" separator="," item="proId">
                    #{proId}
                </foreach>
            </if>
            /*是否出售*/
            <if test="buildingBean.isSaleList != null and buildingBean.isSaleList.size() > 0">
                and IS_SALE in
                <foreach collection="buildingBean.isSaleList" open="(" close=")" separator="," item="isSale">
                    #{isSale}
                </foreach>
            </if>
            /*区域*/
            <if test="buildingBean.ldIdList != null and buildingBean.ldIdList.size() > 0">
                and LD_ID in
                <foreach collection="buildingBean.ldIdList" open="(" close=")" separator="," item="ldId">
                    #{ldId}
                </foreach>
            </if>
            /*开发商*/
            <if test="buildingBean.devIdList != null and buildingBean.devIdList.size() > 0">
                and DEV_ID in
                <foreach collection="buildingBean.devIdList" open="(" close=")" separator="," item="devId">
                    #{devId}
                </foreach>
            </if>
            /*楼盘类型*/
            <if test="buildingBean.btIdList != null and buildingBean.btIdList.size() > 0">
                and BT_ID in
                <foreach collection="buildingBean.btIdList" open="(" close=")" separator="," item="btId">
                    #{btId}
                </foreach>
            </if>
            /*楼盘户型*/
            <if test="buildingBean.buildIdList != null and buildingBean.buildIdList.size() > 0">
                and BUILD_ID in
                <foreach collection="buildingBean.buildIdList" open="(" close=")" separator="," item="buildId">
                    #{buildId}
                </foreach>
            </if>
            <if test="buildingBean.openTimeList != null and buildingBean.openTimeList.size() > 0">
                and
                <foreach collection="buildingBean.openTimeList" open="(" close=")" separator="or" item="item">
                    (DATE_FORMAT(OPEN_DATE, '%Y-%m-%d' ) > DATE_FORMAT(#{item.startDate}, '%Y-%m-%d' )
                    and DATE_FORMAT(#{item.endDate}, '%Y-%m-%d' ) >= DATE_FORMAT(OPEN_DATE, '%Y-%m-%d' ))
                </foreach>
            </if>
            <if test="buildingBean.areaList != null and buildingBean.areaList.size() > 0">
                and
                <foreach collection="buildingBean.areaList" open="(" close=")" separator="or" item="item">
                    <if test="null != item and item.minArea != null and item.maxArea == null">
                        MAX_AREA > #{item.minArea}
                    </if>
                    <if test="null != item and item.maxArea != null and item.minArea == null">
                        #{item.maxArea} >= MIN_AREA
                    </if>
                    <if test="null != item and item.maxArea != null and item.minArea != null">
                        MIN_AREA >= #{item.minArea} and  #{item.maxArea} >= MIN_AREA or MAX_AREA >= #{item.minArea} and #{item.maxArea}>=MAX_AREA or
                         #{item.minArea} >= MIN_AREA and  MAX_AREA >=#{item.maxArea}
                    </if>
                </foreach>
            </if>
            <if test="buildingBean.totalPriceList != null and buildingBean.totalPriceList.size() > 0">
                and
                <foreach collection="buildingBean.totalPriceList" open="(" close=")" separator="or" item="item">
                    <if test="null != item and item.minTitlePrice != null and item.minTitlePrice != '' and (item.maxTitlePrice == null or item.maxTitlePrice == '')">
                        MAX_TITLE_PRICE > #{item.minTitlePrice}
                    </if>
                    <if test="null != item and item.maxTitlePrice != null and item.maxTitlePrice != '' and (item.minTitlePrice == null or item.minTitlePrice == '')">
                        #{item.maxTitlePrice} > MIN_TITLE_PRICE
                    </if>
                    <if test="null != item and item.maxTitlePrice != null and item.maxTitlePrice != '' and item.minTitlePrice != null and item.minTitlePrice != ''">
                        MIN_TITLE_PRICE >= #{item.minTitlePrice} and (#{item.maxTitlePrice} >= MIN_TITLE_PRICE or MAX_TITLE_PRICE >=#{item.minTitlePrice}) and  #{item.maxTitlePrice} >= MAX_TITLE_PRICE
                        or #{item.minTitlePrice} >= MIN_TITLE_PRICE  and MAX_TITLE_PRICE >= #{item.maxTitlePrice}
                    </if>
                </foreach>
            </if>
            <if test="buildingBean.unitPriceList != null and buildingBean.unitPriceList.size() > 0">
                and
                <foreach collection="buildingBean.unitPriceList" open="(" close=")" separator="or" item="item">
                    <if test="null != item and item.minUnitPrice != null and item.maxUnitPrice == null">
                         (MIN_UNIT_PRICE + MAX_UNIT_PRICE)/2 > #{item.minUnitPrice}
                    </if>
                    <if test="null != item and item.maxUnitPrice != null and item.minUnitPrice == null">
                        #{item.maxUnitPrice} > (MIN_UNIT_PRICE + MAX_UNIT_PRICE)/2
                    </if>
                    <if test="null != item and item.maxUnitPrice != null and item.minUnitPrice != null">
                        (MIN_UNIT_PRICE + MAX_UNIT_PRICE)/2 >= #{item.minUnitPrice} and #{item.maxUnitPrice} >= (MIN_UNIT_PRICE + MAX_UNIT_PRICE)/2
                    </if>
                </foreach>
            </if>
            <if test="buildingBean.startTime != null and buildingBean.startTime != ''">
                and (DATE_FORMAT(OPEN_DATE, '%Y-%m-%d' ) > #{buildingBean.startTime}
            </if>
            <if test="buildingBean.endTime != null and buildingBean.endTime != ''">
                and #{buildingBean.endTime} >= DATE_FORMAT(OPEN_DATE, '%Y-%m-%d' ))
            </if>
            <if test="buildingBean.discount != null">
                and #{buildingBean.discount} = DISCOUNT
            </if>
            <if test="buildingBean.sellWell != null">
                and #{buildingBean.sellWell} = SELL_WELL
            </if>
            <if test="buildingBean.buildOpen != null">
                and #{buildingBean.buildOpen} = BUILD_OPEN
            </if>
            <if test="buildingBean.regionIdList != null and buildingBean.regionIdList.size() > 0">
                and REGION_ID in
                <foreach collection="buildingBean.regionIdList" open="(" close=")" separator="," item="regionId">
                    #{regionId}
                </foreach>
            </if>

        </where>
        <if test="buildingBean.dateSort != null and buildingBean.dateSort != 0">
            <if test="buildingBean.dateSort == 1">
                order by OPEN_DATE asc
            </if>
            <if test="buildingBean.dateSort == 2">
                order by OPEN_DATE desc
            </if>
        </if>
        <if test="buildingBean.priceSort != null and buildingBean.priceSort != 0">
            <if test="buildingBean.priceSort == 1">
                order by (MAX_UNIT_PRICE + MIN_UNIT_PRICE)/2 asc
            </if>
            <if test="buildingBean.priceSort == 2">
                order by (MAX_UNIT_PRICE + MIN_UNIT_PRICE)/2 desc
            </if>
        </if>
    </select>

    <!--添加数据-->
    <insert id="addBuilding" useGeneratedKeys="true" keyProperty="buildId">
        insert into
        building
        (HT_NAME,IS_SALE,ALIAS,PRO_ID,LD_ID,DEV_ID,OPEN_DATE,TEL,
        MIN_AREA,MAX_AREA,MAX_UNIT_PRICE,MIN_UNIT_PRICE,MAX_TITLE_PRICE,MIN_TITLE_PRICE,BT_ID,ADRESS,CREATE_DATE,
        OWNERSHIP_YEAR,PROPERTY_TYPE,PLOT_RATIO,GREENING_RATE,SALE_ADDRESS,PROPERTY_ADDRESS,DECORATION,COVERED_AREA,FLOORAGE,
        HOUSEHOLDS,ARCHITECTURAL_STYLE,ITERATION,PROPERTY_COMPANY,PROPERTY_FEE,PARKING_SPACE,PROJECT_INTRODUCTION,
        DISCOUNT,SELL_WELL,POPULARITY,HOT_SEARCH,SPECIAL_OFFER,RECOMMEND,OPTIMIZATION,QUALITY,BUILD_OPEN,CHA_ID,PRO_DATE,LONGITUDE,
        LATITUDE,BUILD_DESCRIPTION,REGION_ID)
        VALUES
        (#{buildingBean.htName},#{buildingBean.isSale},#{buildingBean.alias},#{buildingBean.proId},
        #{buildingBean.ldId},#{buildingBean.devId},#{buildingBean.openDate},#{buildingBean.tel},#{buildingBean.minArea},
        #{buildingBean.maxArea},#{buildingBean.maxUnitPrice},#{buildingBean.minUnitPrice},
        #{buildingBean.maxTitlePrice},#{buildingBean.minTitlePrice},#{buildingBean.btId},#{buildingBean.adress},#{buildingBean.createDate},
        #{buildingBean.ownershipYear},#{buildingBean.propertyType},#{buildingBean.plotRatio},#{buildingBean.greeningRate},
        #{buildingBean.saleAddress},#{buildingBean.propertyAddress},#{buildingBean.decoration},#{buildingBean.coveredArea},
        #{buildingBean.floorage},#{buildingBean.households},#{buildingBean.architecturalStyle},#{buildingBean.iteration},
        #{buildingBean.propertyCompany},#{buildingBean.propertyFee},#{buildingBean.parkingSpace},
        #{buildingBean.projectIntroduction},#{buildingBean.discount},#{buildingBean.sellWell},#{buildingBean.popularity},
        #{buildingBean.hotSearch},#{buildingBean.specialOffer},#{buildingBean.recommend},#{buildingBean.optimization},
        #{buildingBean.quality},#{buildingBean.buildOpen},#{buildingBean.chaId},#{buildingBean.proDate},
        #{buildingBean.longitude},#{buildingBean.latitude},#{buildingBean.buildDescription},#{buildingBean.regionId})
    </insert>


    <!--更新数据-->
    <update id="patchById">
        update building
        <trim prefix="set" suffixOverrides=",">
            <if test="null != buildingBean.htName and buildingBean.htName != ''">
                HT_NAME = #{buildingBean.htName},
            </if>
            <if test="null != buildingBean.isSale">
                IS_SALE = #{buildingBean.isSale},
            </if>
            <if test="null != buildingBean.alias and buildingBean.alias != ''">
                ALIAS = #{buildingBean.alias},
            </if>
            <if test="null != buildingBean.proId">
                PRO_ID = #{buildingBean.proId},
            </if>
            <if test="null != buildingBean.ldId">
                LD_ID = #{buildingBean.ldId},
            </if>
            <if test="null != buildingBean.minArea">
                MIN_AREA = #{buildingBean.minArea},
            </if>
            <if test="null != buildingBean.maxArea">
                MAX_AREA = #{buildingBean.maxArea},
            </if>
            <if test="null != buildingBean.maxUnitPrice">
                MAX_UNIT_PRICE = #{buildingBean.maxUnitPrice},
            </if>
            <if test="null != buildingBean.minUnitPrice">
                MIN_UNIT_PRICE = #{buildingBean.minUnitPrice},
            </if>
            <if test="null != buildingBean.maxTitlePrice">
                MAX_TITLE_PRICE = #{buildingBean.maxTitlePrice},
            </if>
            <if test="null != buildingBean.minTitlePrice">
                MIN_TITLE_PRICE = #{buildingBean.minTitlePrice},
            </if>
            <if test="null != buildingBean.btId">
                BT_ID = #{buildingBean.btId},
            </if>
            <if test="null != buildingBean.adress and buildingBean.adress != ''">
                ADRESS = #{buildingBean.adress},
            </if>
            <if test="null != buildingBean.createDate">
                CREATE_DATE = #{buildingBean.createDate},
            </if>
            <if test="null != buildingBean.chaId">
                CHA_ID = #{buildingBean.chaId},
            </if>
            <if test="null != buildingBean.devId">
                DEV_ID = #{buildingBean.devId},
            </if>
            <if test="null != buildingBean.openDate">
                OPEN_DATE = #{buildingBean.openDate},
            </if>
            <if test="null != buildingBean.proDate">
                PRO_DATE = #{buildingBean.proDate},
            </if>
            <if test="null != buildingBean.ownershipYear">
                OWNERSHIP_YEAR = #{buildingBean.ownershipYear},
            </if>
            <if test="null != buildingBean.propertyType and buildingBean.propertyType != ''">
                PROPERTY_TYPE = #{buildingBean.propertyType},
            </if>
            <if test="null != buildingBean.plotRatio">
                PLOT_RATIO = #{buildingBean.plotRatio},
            </if>
            <if test="null != buildingBean.greeningRate">
                GREENING_RATE = #{buildingBean.greeningRate},
            </if>
            <if test="null != buildingBean.saleAddress and buildingBean.saleAddress != ''">
                SALE_ADDRESS = #{buildingBean.saleAddress},
            </if>
            <if test="null != buildingBean.propertyAddress and buildingBean.propertyAddress != ''">
                PROPERTY_ADDRESS = #{buildingBean.propertyAddress},
            </if>
            <if test="null != buildingBean.decoration and buildingBean.decoration != ''">
                DECORATION = #{buildingBean.decoration},
            </if>
            <if test="null != buildingBean.coveredArea">
                COVERED_AREA = #{buildingBean.coveredArea},
            </if>
            <if test="null != buildingBean.floorage">
                FLOORAGE = #{buildingBean.floorage},
            </if>
            <if test="null != buildingBean.households">
                HOUSEHOLDS = #{buildingBean.households},
            </if>
            <if test="null != buildingBean.architecturalStyle and buildingBean.architecturalStyle != ''">
                ARCHITECTURAL_STYLE = #{buildingBean.architecturalStyle},
            </if>
            <if test="null != buildingBean.iteration">
                ITERATION = #{buildingBean.iteration},
            </if>
            <if test="null != buildingBean.propertyCompany and buildingBean.propertyCompany != ''">
                PROPERTY_COMPANY = #{buildingBean.propertyCompany},
            </if>
            <if test="null != buildingBean.propertyFee">
                PROPERTY_FEE = #{buildingBean.propertyFee},
            </if>
            <if test="null != buildingBean.parkingSpace">
                PARKING_SPACE = #{buildingBean.parkingSpace},
            </if>
            <if test="null != buildingBean.projectIntroduction and buildingBean.projectIntroduction != ''">
                PROJECT_INTRODUCTION = #{buildingBean.projectIntroduction},
            </if>

            <if test="null != buildingBean.discount">
                DISCOUNT = #{buildingBean.discount},
            </if>
            <if test="null != buildingBean.hotSearch">
                HOT_SEARCH = #{buildingBean.hotSearch},
            </if>

            <if test="null != buildingBean.sellWell">
                SELL_WELL = #{buildingBean.sellWell},
            </if>
            <if test="null != buildingBean.popularity">
                POPULARITY = #{buildingBean.popularity},
            </if>
            <if test="null != buildingBean.specialOffer">
                SPECIAL_OFFER = #{buildingBean.specialOffer},
            </if>
            <if test="null != buildingBean.buildOpen">
                BUILD_OPEN = #{buildingBean.buildOpen},
            </if>
            <if test="null != buildingBean.tel and buildingBean.tel != ''">
                TEL = #{buildingBean.tel},
            </if>

            <if test="null != buildingBean.recommend">
                RECOMMEND = #{buildingBean.recommend},
            </if>
            <if test="null != buildingBean.optimization">
                OPTIMIZATION = #{buildingBean.optimization},
            </if>
            <if test="null != buildingBean.quality">
                QUALITY = #{buildingBean.quality},
            </if>

            <if test="null != buildingBean.longitude and buildingBean.longitude != ''">
                LONGITUDE = #{buildingBean.longitude},
            </if>
            <if test="null != buildingBean.latitude and buildingBean.latitude != ''">
                LATITUDE = #{buildingBean.latitude},
            </if>
            <if test="null != buildingBean.buildDescription and buildingBean.buildDescription != ''">
                BUILD_DESCRIPTION = #{buildingBean.buildDescription},
            </if>
            <if test="null != buildingBean.regionId">
                REGION_ID = #{buildingBean.regionId}
            </if>
        </trim>
        where BUILD_ID = #{buildingBean.buildId}
    </update>

    <select id="getAllByHtName" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select * from building where  HT_NAME = #{buildingBean.htName}
    </select>

    <select id="getAllBuild" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select BUILD_ID,HT_NAME,DECORATION from building
    </select>

    <select id="getRecommend" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select * from building where RECOMMEND = 1 order by POPULARITY,HOT_SEARCH desc limit 4
    </select>

    <select id="getOptimization" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select * from building where OPTIMIZATION = 1
    </select>

    <select id="getQuality" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select * from building where QUALITY = 1 order by SELL_WELL desc limit 3
    </select>

    <select id="getSellWell" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select * from building order by SELL_WELL desc limit 3
    </select>

    <select id="getBuildById" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select * from building where BUILD_ID = #{buildingBean.buildId}
    </select>

    <select id="getPHotBuild" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select * from building order by POPULARITY limit 3
    </select>
    <select id="getSWBuild" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select * from building order by SELL_WELL limit 3
    </select>
    <select id="getHotSBuild" resultType="com.jiubo.buildstore.bean.BuildingBean">
        select * from building order by HOT_SEARCH limit 3
    </select>

    <select id="getBuildLikePage" resultType="com.jiubo.buildstore.bean.BuildingBean">
        SELECT DISTINCT
        a.*
        FROM
        building a
        left join location_distinguish b on a.LD_ID = b.LD_ID
        left join building_type c on a.BT_ID = c.BT_ID
        left join bht_ref d on a.BUILD_ID = d.BUILD_ID
        left join sale_type e on a.IS_SALE = e.ST_ID
        left join develoger f on a.DEV_ID = f.DEV_ID
        left join chara_ref g on a.BUILD_ID = g.BUILD_ID
        left join  region k on a.REGION_ID = k.ID
        <where>
        1=1
            <if test="null != buildingBean.special">
                and (b.LD_NAME like CONCAT('%',#{buildingBean.special},'%')
                or a.HT_NAME like CONCAT('%',#{buildingBean.special},'%')
                or a.ALIAS like CONCAT('%',#{buildingBean.special},'%')
                or c.BT_NAME like CONCAT('%',#{buildingBean.special},'%')
                or d.BHT_NAME like CONCAT('%',#{buildingBean.special},'%')
                or e.ST_NAME like CONCAT('%',#{buildingBean.special},'%')
                or f.DEV_NAME like CONCAT('%',#{buildingBean.special},'%')
                or f.DEVS_NAME like CONCAT('%',#{buildingBean.special},'%')
                or g.HOUSE_NAME like CONCAT('%',#{buildingBean.special},'%')
                or k.REGION_NAME like CONCAT('%',#{buildingBean.special},'%')
                or a.ALIAS like CONCAT('%',#{buildingBean.special},'%')
                 or a.ADRESS like CONCAT('%',#{buildingBean.special},'%'))
            </if>
        </where>
    </select>
</mapper>
