<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.BuildingDynamicDao">
    <select id="getDynamicByBid" resultType="com.jiubo.buildstore.bean.BuildingDynamicBean">
        SELECT a.BD_ID,a.BD_PATH,a.BD_NAME,a.BD_CONTENT,a.CREATE_DATE,a.BUILD_ID
         from building_dynamic a
         order by CREATE_DATE desc
    </select>

    <select id="getDynamicByPage" resultType="com.jiubo.buildstore.bean.BuildingDynamicBean">
        select * from building_dynamic
        <where>
            1=1
            <if test="buildingDynamicBean.buildId != null">
                and BUILD_ID = #{buildingDynamicBean.buildId}
            </if>
            <if test="buildingDynamicBean.bdName != null and buildingDynamicBean.bdName != ''">
                and BD_NAME like CONCAT('%',#{buildingDynamicBean.bdName},'%')
            </if>
            <if test="buildingDynamicBean.startDate != null">
                and DATE_FORMAT(CREATE_DATE, '%Y-%m-%d' ) >= #{buildingDynamicBean.startDate}
            </if>
            <if test="buildingDynamicBean.endDate != null">
                and #{buildingDynamicBean.endDate} >= DATE_FORMAT(CREATE_DATE, '%Y-%m-%d' )
            </if>
        </where>
    </select>

    <update id="patchDyById">
        update building_dynamic
        <trim prefix="set" suffixOverrides=",">
            <if test="buildingDynamicBean.bdName != null and buildingDynamicBean.bdName != ''">
                BD_NAME = #{buildingDynamicBean.bdName},
            </if>
            <if test="buildingDynamicBean.bdContent != null and buildingDynamicBean.bdContent != ''">
                BD_CONTENT = #{buildingDynamicBean.bdContent},
            </if>
            <if test="buildingDynamicBean.buildId != null">
                BUILD_ID = #{buildingDynamicBean.buildId},
            </if>
            <if test="buildingDynamicBean.createDate != null">
                CREATE_DATE = #{buildingDynamicBean.createDate}
            </if>
        </trim>
        where BD_ID = #{buildingDynamicBean.bdId}
    </update>

    <insert id="addDynamic">
        insert into building_dynamic (BD_NAME,BD_CONTENT,CREATE_DATE,BUILD_ID)
        values (#{buildingDynamicBean.bdName},#{buildingDynamicBean.bdContent},
        #{buildingDynamicBean.createDate},#{buildingDynamicBean.buildId})
    </insert>
</mapper>
