<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.CounselorCommentDao">

    <select id="getCounselorByBid" resultType="com.jiubo.buildstore.bean.CounselorCommentBean">
        SELECT a.COUC_ID,a.COM_CONTENT,a.C_ID,a.BUILD_ID,a.COM_DATE,a.PRAISE_NUM,a.COUC_TYPE,
        b.CC_CONTENT,d.COU_ID,d.COU_NAME,d.INTRODUCE,d.GRADUATE,d.CC_ID
        from counselor_comment a,counselor_character b,counselor d
        <where>
            a.C_ID = d.COU_ID and b.CC_ID = d.CC_ID and a.BUILD_ID = #{counselorCommentBean.buildId}
            <if test="counselorCommentBean.coucType != null">
                a.COUC_TYPE = #{counselorCommentBean.coucType}
            </if>
        </where>
    </select>

    <!--点赞-->
    <update id="updateNumById">
        UPDATE counselor_comment
        SET PRAISE_NUM = PRAISE_NUM + 1
        WHERE
	COUC_ID = #{counselorCommentBean.coucId}
    </update>

    <select id="getCidByBidList" resultType="com.jiubo.buildstore.bean.CounselorCommentBean">
        select a.C_ID,a.BUILD_ID,b.COU_NAME,b.TEL from counselor_comment a,counselor b
        <where>
            a.C_ID = b.COU_ID and
            a.BUILD_ID in
            <foreach collection="counselorCommentBean.bIdList" open="(" close=")" separator="," item="bId">
                #{bId}
            </foreach>
        </where>
    </select>
</mapper>
