<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.CounselorCommentDao">

    <select id="getCounselorByBid" resultType="com.jiubo.buildstore.bean.CounselorCommentBean">
        SELECT
        a.COUC_ID,
        a.COM_CONTENT,
        a.COU_ID,
        a.BUILD_ID,
        a.COM_DATE,
        a.PRAISE_NUM,
        a.COUC_TYPE,
        b.CC_CONTENT,
        d.COU_ID,
        d.COU_NAME,
        d.INTRODUCE,
        d.GRADUATE,
        d.CHARA_NAME,
        d.CC_ID,
        d.PICTURE_NAME,
        PICTURE_PATH
        FROM
        counselor_comment a
        left join 	counselor d
        on a.COU_ID = d.COU_ID
        left join counselor_character b
        on  b.CC_ID = d.CC_ID
        <where>
             <if test="counselorCommentBean.buildId != null">
                 and a.BUILD_ID = #{counselorCommentBean.buildId}
             </if>

            <if test="counselorCommentBean.coucType != null and counselorCommentBean.coucType != 999">
               and a.COUC_TYPE = #{counselorCommentBean.coucType}
            </if>
        </where>
        order by COM_DATE desc
    </select>

    <!--根据点赞ID查询点赞信息-->
    <select id="queryCounselorComment" parameterType="com.jiubo.buildstore.bean.CounselorCommentBean" resultType="com.jiubo.buildstore.bean.CounselorCommentBean">
        select COUC_ID,PRAISE_NUM  from counselor_comment where COUC_ID = #{coucId}
    </select>

    <!--点赞-->
    <update id="updateNumById">
        UPDATE counselor_comment
        SET PRAISE_NUM = PRAISE_NUM + 1
        WHERE
	COUC_ID = #{counselorCommentBean.coucId}
    </update>

    <select id="getCidByBidList" resultType="com.jiubo.buildstore.bean.CounselorCommentBean">
        select a.COU_ID,a.BUILD_ID,b.COU_NAME,b.TEL from counselor_comment a,counselor b
        <where>
            a.COU_ID = b.COU_ID and
            a.BUILD_ID in
            <foreach collection="counselorCommentBean.bIdList" open="(" close=")" separator="," item="bId">
                #{bId}
            </foreach>
        </where>
    </select>

    <select id="getComByPage" resultType="com.jiubo.buildstore.bean.CounselorCommentBean">
        select * from counselor_comment
        <where>
            1=1
            <if test="counselorCommentBean.buildId != null">
                and BUILD_ID = #{counselorCommentBean.buildId}
            </if>
            <if test="counselorCommentBean.couId != null">
                and COU_ID = #{counselorCommentBean.couId}
            </if>
            <if test="counselorCommentBean.coucType != null">
                and COUC_TYPE = #{counselorCommentBean.coucType}
            </if>
        </where>
    </select>

    <update id="updateComById">
        update counselor_comment
        <trim prefix="set" suffixOverrides=",">
            <if test="counselorCommentBean.comContent != null and counselorCommentBean.comContent != ''">
                COM_CONTENT = #{counselorCommentBean.comContent},
            </if>
            <if test="counselorCommentBean.couId != null">
                COU_ID = #{counselorCommentBean.couId},
            </if>
            <if test="counselorCommentBean.buildId != null">
                BUILD_ID = #{counselorCommentBean.buildId},
            </if>
            <if test="counselorCommentBean.comDate != null">
                COM_DATE = #{counselorCommentBean.comDate},
            </if>
            <if test="counselorCommentBean.coucType != null">
                COUC_TYPE = #{counselorCommentBean.coucType}
            </if>
        </trim>
        where COUC_ID = #{counselorCommentBean.coucId}
    </update>

    <insert id="addCom" useGeneratedKeys="true" keyProperty="coucId">
        insert into counselor_comment (COM_CONTENT,COU_ID,COM_DATE,COUC_TYPE,BUILD_ID)
        values (#{counselorCommentBean.comContent},#{counselorCommentBean.couId},
        #{counselorCommentBean.comDate},
        #{counselorCommentBean.coucType},#{counselorCommentBean.buildId})
    </insert>
</mapper>
