<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.LinkPhoneDao">

    <insert id="addLinkPhone">
        INSERT INTO link_phone(LP_NAME, BUILD_ID, MO_ID, PHONE,WRITE_TIME,CREATE_DATE,FORM,RETURN_SALE)
        VALUES (#{linkPhoneBean.lpName}, #{linkPhoneBean.buildId},
        #{linkPhoneBean.moId}, #{linkPhoneBean.phone},#{linkPhoneBean.writeTime},
        #{linkPhoneBean.createDate},#{linkPhoneBean.form},#{linkPhoneBean.returnSale})
    </insert>

    <select id="getPhone" resultType="com.jiubo.buildstore.bean.LinkPhoneBean">
        select * from link_phone
        <where>
            <if test="linkPhoneBean.lpName != null and linkPhoneBean.lpName != ''">
                LP_NAME like CONCAT('%',#{linkPhoneBean.lpName},'%')
            </if>
            <if test="linkPhoneBean.phone != null and linkPhoneBean.phone != ''">
               and PHONE like CONCAT('%',#{linkPhoneBean.phone},'%')
            </if>
            <if test="linkPhoneBean.remarks != null">
                and REMARKS = #{linkPhoneBean.remarks}
            </if>
        </where>
        ORDER BY CREATE_DATE DESC
    </select>

    <update id="patchLinkById">
        update link_phone set REMARKS = 1 where LP_ID = #{linkPhoneBean.lpId}
    </update>


    <update id="patchFormById">
        update link_phone
        <trim prefix="set" suffixOverrides=",">
            <if test="linkPhoneBean.form != null and linkPhoneBean.form != ''">
                FORM = #{linkPhoneBean.form},
            </if>
            <if test="linkPhoneBean.returnSale != null and linkPhoneBean.returnSale != ''">
                RETURN_SALE = #{linkPhoneBean.returnSale}
            </if>
        </trim>
          where LP_ID = #{linkPhoneBean.lpId}
    </update>
</mapper>
