<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.LocationDistinguishDao">
    <select id="getAllDistinguish" resultType="com.jiubo.buildstore.bean.LocationDistinguishBean">
        select * from LOCATION_DISTINGUISH
        where 1=1
        <if test="proId != null">
           and PRO_ID = #{proId}
        </if>
        order by LD_ID asc
    </select>
</mapper>
