<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.RecruitLabelDao">

    <select id="getLabelByType" resultType="com.jiubo.buildstore.bean.RecruitLabelBean">
        select * from recruit_label
        <where>
        1=1
            <if test="recruitLabelBean.typeId != null">
              AND  TYPE_ID = #{recruitLabelBean.typeId}
            </if>
            <if test="recruitLabelBean.hotJob != null">
               and HOT_JOB = #{recruitLabelBean.hotJob}
            </if>
            <if test="recruitLabelBean.longRecruit != null">
                and LONG_RECRUIT = #{recruitLabelBean.longRecruit}
            </if>
        </where>
    </select>
</mapper>
