<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.RecruitLabelDao">

    <select id="getLabelByType" resultType="com.jiubo.buildstore.bean.RecruitLabelBean">
        select * from recruit_label
        <where>
            <if test="recruitLabelBean.typeId != null">
                TYPE_ID = #{recruitLabelBean.typeId}
            </if>
        </where>
    </select>
</mapper>
