<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.TotlePriceTypeDao">
    <select id="getAllTotalPrice" resultType="com.jiubo.buildstore.bean.TotlePriceTypeBean">
        select * from TOTLE_PRICE_TYPE
    </select>
    
    <select id="getTotalPriceByIdList" resultType="com.jiubo.buildstore.bean.TotlePriceTypeBean">
        select * from UNIT_PRICE_TYPE
        <where>
            <if test="totlePriceTypeBean.idList != null and totlePriceTypeBean.idList.size >0">
                UP_ID in
                <foreach collection="totlePriceTypeBean.idList" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
