<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.buildstore.dao.UnitPriceTypeDao">
    <select id="getAllUnitPrice" resultType="com.jiubo.buildstore.bean.UnitPriceTypeBean">
        select * from UNIT_PRICE_TYPE
    </select>


    <select id="getUnitPriceByIdList" resultType="com.jiubo.buildstore.bean.UnitPriceTypeBean">
        select * from UNIT_PRICE_TYPE
        <where>
            <if test="unitPriceTypeBean.idList != null and unitPriceTypeBean.idList.size >0">
                UP_ID in
                <foreach collection="unitPriceTypeBean.idList" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
